@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

#main-header {
    font-family: 'Lilita One', cursive;
    margin-top: 3rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

form {
    border: 1px solid rgba(0, 0, 0, 0.671);
    border-radius: 10px;
    width: 40vw;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

main h1 {
    width: fit-content;
}
