@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

#main-header {
    font-family: 'Lilita One', cursive;
    margin-top: 3rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


button.html5-qrcode-element {
    background-color: #0d6efd;
    color: #fff;
    border-color: #0d6efd;
    border-radius: .375rem;
    padding-left: 0.75rem;
    padding-right: 0.375rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-width: 1px;
    border-color:transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button.html5-qrcode-element:hover {
    background-color: #0b5ed7;
    border-color: #0a58ca;
}
button.html5-qrcode-element:active {
    background-color: #0a53ca;
    border-color: #0a53be;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn {
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}