
main {
    margin-top: 20px;
    width: 95vw;
}

img {
    max-height: unset;
}

#qr-code img {
    width: 175px;
    height: 175px;
}

#join-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.13);
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}




#tournament-header {
    width: 100vw;
    max-height: 100px;
    min-height: 100px;
    overflow: hidden;
    position: relative;
}
#tournament-header img {
    min-width: 100vw;
    position: absolute;
}
#tournament-header div{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#tournament-header div h2 {
    margin: 0 0 0 0;
    padding: 15px 15px 15px 15px;
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    border-radius: 3px;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}



#tournament-info-container label.field-title {
    font-weight: bold;
}


#tournament-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.13);
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}
#tournament-info-container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
}


#participants-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 95vw;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 5px;
}
#participants-container div {
    border: 1px solid rgba(0, 0, 0, 0.063);
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#participants-container div img {
    max-height: 50px;
}

#participants-header-container {
    width: 100%;
    display: flex;
    justify-content: center;
}
#participants-header-container h2 {
    margin-bottom: 2px;
}

