<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Tournament</title>
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/join-tournament.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  <script src="/js/logout.js"></script>
</head>
<body>
  <script src="/js/navbar.js" type="module"></script>
  <script defer type="module">
      import {buildLink} from "/js/navbar.js";
      buildLink("/", "Home");
      buildLink("/profile", "Profile");
      buildLink("/api/logout", "Logout", "click", logout);
  </script>

  <h1 id="main-header" class="display-3 text-center mb-4">Join Tournament</h1>
  <main>
    <div style="min-width: 20vw; max-width: 40vw" id="reader"></div>
    <h3>Or</h3>
    <form id="join-id-form" class="form-group">
        <div>
            <input id="join-id" type="text" class="form-control" name="join_id" placeholder="Join Id">
        </div>
        <div>
            <input class="btn btn-primary mb-3" type="submit" class="form-control" value="Submit">
        </div>
    </form>
    <div id="error-text" class="text-danger"></div>
  </main>
</body>

<script src="/lib/html5-qrcode.min.js"></script>
<script src="/js/join-tournament.js"></script>
</html>