<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bracketeer</title>
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/home-styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  
  <!-- START MANIFEST BLOCK -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="225x190" href="/images/logo-icon-transparent.png">
  <link rel="apple-touch-icon" type="image/png" sizes="225x190" href="/images/logo-icon-transparent.png">
  <link rel="manifest" href="/manifest.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#e01c24">
  
  <meta name="apple-mobile-web-app-title" content="Bracketeer">
  <meta name="application-name" content="Bracketeer">
  <meta name="msapplication-TileColor" content="#e01c24">
  <meta name="theme-color" content="#e01c24">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="msapplication-navbutton-color" content="#e01c24">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="msapplication-starturl" content="/">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- END MANIFEST BLOCK -->
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  <script src="/js/logout.js"></script>
  <script src="/js/common.js" type="module"></script>
</head>
<body>
  <script src="/js/navbar.js" type="module"></script>
  <script defer type="module">
      import {buildLink} from "/js/navbar.js";
      buildLink("/", "Home");
      buildLink("/profile", "Profile");
      buildLink("/api/logout", "Logout", "click", logout);
  </script>

  <div>
    <h1 id="display-text" class="display-2 text-center mb-5"></h1>
    <p class="h3 text-center">Start a tournament, join a new tournament, or view tournaments you're participating in.</p>
    <div class="text-center mt-2">
      <a href="/tournaments/create" class="btn btn-danger btn-lg me-1">Create Tournament</a>
      <a href='tournaments/join' class="btn btn-danger btn-lg ms-1">Join Tournament</a>
      <a href="/tournaments/entered" class="btn btn-danger btn-lg ms-1">Entered Tournaments</a>
      <a href="/tournaments/created" class="btn btn-danger btn-lg ms-1">Created Tournaments</a>
    </div>
  </div>
</body>

<script src="/js/landing.js"></script>
</html>