<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bracketeer</title>
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/profile-styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  <script src="/js/logout.js"></script>
  <script src="/js/common.js" type="module"></script>
</head>
<body>
  <script src="/js/navbar.js" type="module"></script>
  <script defer type="module">
      import {buildLink} from "/js/navbar.js";
      buildLink("/", "Home");
      buildLink("/profile", "Profile");
      buildLink("/api/logout", "Logout", "click", logout);
  </script>

  <div id="user-info" class="d-flex align-items-center">
    <img id="profile-picture" class="rounded-circle" src="/images/default-avatar-example.jpg" alt="avatar">
    <span id="profile-username" class="h1 ms-5 fw-bold"></span>
  </div>

  <div class="text-center">
    <h2 class="fw-bold mb-3">Stats</h2>
    <div class="container px-4">
        <div class="row gx-5">
          <div class="col-md-6 mt-3">
           <div class="p-3 border bg-danger text-light rounded">Total Tournaments Entered:
               <div id="total-tournaments-enetered" class="h2 mt-2">
                0
               </div>
           </div>
          </div>
          <div class="col-md-6 mt-3">
            <div class="p-3 border bg-danger text-light rounded">Total Matches Played:
                <div id="total-matches-played" class="h2 mt-2">
                    0
                </div>
            </div>
          </div>
          <!-- TODO: add stats to frontend when tournament placements are added to backend -->
          <!-- <div class="col-md-6 mt-3">
            <div class="p-3 border bg-danger text-light rounded">Total Tournaments Won:
                <div id="total-tournaments-won" class="h2 mt-2">
                    0
                </div>
            </div>
          </div>
          <div class="col-md-6 mt-3">
            <div class="p-3 border bg-danger text-light rounded">Top Ten Finishes:
                <div id="top-ten-finishes" class="h2 mt-2">
                    0
                </div>
            </div>
          </div> -->
        </div>
      </div>
  </div>

  <div class="mb-5">
    <h2 class="fw-bold mt-5 mb-3 text-center">Recent Tournaments</h2>
    <div id="tournaments-container">

    </div>
  </div>
</body>

<script src="/js/profile.js"></script>
</html>