<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bracketeer</title>
  <link rel="stylesheet" href="/css/navbar.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  <link href="/css/tournaments-sm.css" rel="stylesheet" media="screen and (max-width: 900px)"></script>
  <link href="/css/tournaments-lg.css" rel="stylesheet" media="screen and (min-width: 900px)"></script>
  <script src="/lib/qrcode.min.js"></script>
  <script src="/js/logout.js"></script>
</head>
<body>
  <script src="/js/navbar.js" type="module"></script>
  <script defer type="module">
      import {buildLink} from "/js/navbar.js";
      buildLink("/", "Home");
      buildLink("/profile", "Profile");
      buildLink("/api/logout", "Logout", "click", logout);
  </script>

  <div id="tournament-header">
    <img>
    <div>
      <h2></h2>
    </div>
    
  </div>

  <main>
    <div>
      <div id="tournament-info-container">
        <h2>Info</h2>
        <div id="info-container-one">
          <div id="organizer-container">
            <label class="field-title">Organizer: </label>
          </div>
          <div id="location-container">
            <label class="field-title">Location: </label>
          </div>
          <div id="created-container">
            <label class="field-title">Created: </label>
          </div>
          <div id="starts-container">
            <label class="field-title">Starts: </label>
          </div>
          <div id="ends-container">
            <label class="field-title">Ends: </label>
          </div>
        </div>
        
        <div id="description-container">
          <label class="field-title">Description: </label>
        </div>
        <div id="tournament-buttons" style="margin-bottom: 10px">

        </div>
      </div>
  
      <div id="participants-header-container">
        <h2>Participants</h2>
      </div>
      <div id="participants-container">
      </div>
  
      <div id="join-container" class="mb-5">
        <h2>Join</h2>
        <div id="qr-code"></div>
        <a id="join-id-anchor"></a>
      </div>
      <!-- <div class="text-center mb-5 mt-3">
        <input type="button" value="Edit Tournament" class="btn btn-outline-primary" onclick="editTournament()">
        <input type="button" value="View Matches" class="btn btn-outline-primary">
      </div> -->
      
    </div>
    

  </main>
</body>

<script src="/js/tournaments.js" defer type="module"></script>

</html>